#unordered{
 list-style-type: square ;
 background-color: rgb(124, 190, 174);
 padding:20px;
 border: 2px dashed black;
 margin: 20%;
}

#ordered{
list-style-type: upper-roman;
background-color: rgb(169, 215, 236);
padding: 30px;
border: 2px dashed black;
margin: 20%;
}

li{
background-color: rgb(243, 254, 255);
border: 1px solid black;
padding: 10px;
}

th , tr, td{
margin-left: 200px;
    border: 2px solid black;
 padding: 20px;
}

th{
    background-color: rgb(43, 100, 100);
    color: white;
}

td{
    background-color: rgb(73, 136, 131);
    color: white;
}

#text1{
    margin-left: 200px;
    overflow: scroll;
    background-color: rgb(165, 230, 208);
    width: 200px;
    height: 200px;
}